<div class="row">
  <div class="col-md-3">
    <mat-list>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Search by name or email" [(ngModel)]="query" (ngModelChange)="search()">
      </mat-form-field>
      <div>
          <a mat-list-item *ngFor="let u of userList" (click)="selectUserForChat(u)"  class="text-color"> {{u.name + ' ' + u.surname}}
              <mat-divider></mat-divider>
          </a>
         
      </div>
      <!-- <mat-list-item  *ngFor="let u of userList" (click)="selectUserForChat(u)"> {{u.name + ' ' + u.surname}} </mat-list-item> -->
    </mat-list>
  </div>
  <div class="col-md-9 mt-45" *ngIf="showChatBox">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{selectedUser.name}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let chat of chatList">
        <p *ngIf="chat.user.user_type == 'user' ">Admin: {{chat.body}}</p>
        <p style="text-align: right" *ngIf="chat.user.user_type == 'admin' ">{{chat.body}} :User</p>
      </mat-card-content>
      <mat-card-footer>
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Type your message..." [(ngModel)]="message">
            </mat-form-field>
          </div>
          <div class="col-md-1 mt-20">
            <button color='primary' type="button" [disabled]="!message" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>