<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Open Jobs</h5>
        <p class="card-text"><span>17</span> Jobs Not assigned yet. Assign those before these get expired.</p>
        <a href="#" class="btn btn-primary">Assign Jobs</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assigned Jobs</h5>
        <p class="card-text"><span>30</span> jobs assigned and are in progress now</p>
        <a href="#" class="btn btn-primary">View All</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Employees</h5>
        <p class="card-text"><span>112</span> registered & active employees</p>
        <a href="#" class="btn btn-primary">View All</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Un-answered Invites</h5>
        <p class="card-text"><span>12</span> invites are still pending response</p>
        <a href="#" class="btn btn-primary">View Invites</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-20">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tip: Chat</h5>
        <p class="card-text">The quickest method to send message to any employee is by going into users and clikc message under actions against it. 
          The alternative way is to go to chat section and search user from list, click on it and use message baord against it.</p> 
        <a href="#" class="btn btn-primary">View Chats</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tip: Other</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>