.nav-first {
    position: relative;
  }

  .nav-icon {
    padding: 0 14px;
  }

  .nav-spacer {
    flex: 1 1 auto;
  }

  .text-color {
      color: black;
      font-weight: 500;
      font-size: 120%
  }
