<div class=" pb-20">
    <div class="row ">
        <div class="col-md-12 pt-20 mat-typography">
            <mat-spinner class="list-spinner" [diameter]="30" *ngIf="spinner"></mat-spinner>
            <div class="row">
                <div class="col-md-3">
                    <button class="mb-10" type="button" mat-flat-button (click)="sendInvitation()">Send Invitation</button>
                </div>
                <div class="col-md-6" style="background-color: #424242">
                    <mat-form-field class="full-width" >
                        <input matInput  type="text" placeholder="Search by Email" [(ngModel)]="name" (ngModelChange)="search(name)">
                    </mat-form-field>
                </div>
            </div>
            <div class="example-container mat-elevation-z2">
                <mat-table #table [dataSource]="inviteList">

                    <ng-container matColumnDef="s_no">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index"> {{i+1}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index">
                            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                                <mat-icon>list</mat-icon>
                                <!-- <i class="fa fa-list fa-lg"></i> -->
                            </button>
                            <mat-menu #actionMenu="matMenu">
                                <button mat-menu-item (click) = "resendMail(element)">
                                    <mat-icon>send</mat-icon>
                                  Resend Email
                                </button>
                            </mat-menu>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator [length]="total" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>