<div class=" pb-20">
  <div class="row ">
      <div class="col-md-12 pt-20 mat-typography">
          <mat-spinner class="list-spinner" [diameter]="30" *ngIf="spinner"></mat-spinner>
          <!-- <div class="row">
              <div class="col-md-3">
                  <button class="mb-10" type="button" mat-flat-button (click)="sendInvitation()">Send Invitation</button>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="full-width">
                      <input matInput type="text" placeholder="Search by Email" [(ngModel)]="name" (ngModelChange)="search(name)">
                  </mat-form-field>
              </div>
          </div> -->
          <div class="example-container mat-elevation-z2">
              <mat-table #table [dataSource]="timesheetList">

                  <ng-container matColumnDef="s_no">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let element; let i=index"> {{i+1}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="user">
                      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.user.name}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="check_in">
                    <mat-header-cell *matHeaderCellDef>Checkin Time</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.check_in | date : 'medium'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="check_out">
                  <mat-header-cell *matHeaderCellDef>Checkout Time</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.check_out | date : 'medium'}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="check_in_loc">
                <mat-header-cell *matHeaderCellDef>Checkin Location</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.check_in_location}}</mat-cell>
              </ng-container>
            <ng-container matColumnDef="check_out_loc">
              <mat-header-cell *matHeaderCellDef>Checkout Location</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.check_out_location}}</mat-cell>
            </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <mat-paginator [length]="total" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="onPageChange($event)">
              </mat-paginator>
          </div>
      </div>
  </div>
</div>