<div class=" pb-20">
    <div class="row ">
        <div class="col-md-12 pt-20 mat-typography">
            <mat-spinner class="list-spinner" [diameter]="30" *ngIf="spinner"></mat-spinner>
            <div class="row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6" style="background-color: #424242">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Search by name or email" [(ngModel)]="name" (ngModelChange)="search(name)">
                    </mat-form-field>
                </div>
            </div>
            <div class="example-container mat-elevation-z2">
                <mat-table #table [dataSource]="userList">

                    <ng-container matColumnDef="s_no">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index"> {{i+1}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="surname">
                        <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.surname}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dob">
                        <mat-header-cell *matHeaderCellDef>Date Of Birth</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.dob}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="mobile">
                        <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.mobile}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.address}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nok_name">
                        <mat-header-cell *matHeaderCellDef>Nok Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nok_name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nok_contact">
                        <mat-header-cell *matHeaderCellDef>Nok Contact</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nok_contact}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index">
                            <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                                <mat-icon>list</mat-icon>
                                <!-- <i class="fa fa-list fa-lg"></i> -->
                            </button>
                            <mat-menu #actionMenu="matMenu">
                                <button mat-menu-item >
                                    <mat-icon>message</mat-icon>
                                  Message
                                </button>
                                <button mat-menu-item >
                                    <mat-icon>edit</mat-icon>
                                  Edit
                                </button>
                            </mat-menu>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator [length]="total" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>